@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(../fonts/ibm-plex-sans-400.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url(../fonts/ibm-plex-sans-700.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --color-page-text: rgb(43, 41, 85);
    --color-page-text-light: rgb(152, 166, 215);

    --color-aside-background: #f4f7fe;
    --color-main-background: #ffffff;

    --color-submit: var(--color-page-text);
    --color-submit-hover: rgb(255, 255, 255);
    --color-submit-background: var(--color-page-text-light);
    --color-submit-background-hover: rgb(87, 147, 86);

    --color-input-border: #f3f6f9;
    --color-input-border-hover: var(--color-page-text-light);
    --color-input-background: #f3f6f9;
    --color-input-placeholder: lightgray;
}
@media (prefers-color-scheme: dark) {
    :root {
        --color-page-text: rgb(255, 255, 255);
        --color-page-text-light: rgb(161, 167, 187);

        --color-aside-background: rgb(52, 54, 69);
        --color-main-background: rgb(36, 38, 49);

        --color-submit: var(--color-page-text);
        --color-submit-hover: rgb(255, 255, 255);
        --color-submit-background: rgb(97, 136, 255);
        --color-submit-background-hover: rgb(87, 147, 86);

        --color-input-border: rgb(52, 54, 69);
        --color-input-border-hover: var(--color-page-text-light);
        --color-input-background: rgb(52, 54, 69);
        --color-input-placeholder: rgb(100, 107, 128);
    }
}

a,
p,
h1,
h2,
h3,
div,
nav,
body,
html,
main,
form,
aside,
input,
select,
button,
legend,
fieldset,
textarea {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
}

body, a, input, select, textarea, button {
    color: var(--color-page-text);

    font: 1.1rem/1 'IBM Plex Sans', sans-serif;
    text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 1.6rem;
    line-height: 1.8rem;
}
h3 {
    color: var(--color-page-text-light);
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: normal;
    display: block;
    margin-top: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number] {
    -webkit-appearance: textfield;
}
